# Python
__pycache__/
*.pyc

# environments
.venv/
venv/
env/
.conda/
conda-meta/

# secrets
.env
a_stuff/organized_material/.env

#general_material
a_stuff/not_organized/old_outputs*
a_stuff/not_organized/outputs*

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/


## outputs 
# outputs/scene_description/stacked_boxes/*
# outputs/vlm_planning/stacked_boxes/*
# outputs/simultaneous_actions/stacked_boxes/*
# outputs/validator/stacked_boxes/*


## prompts_scenarios
# prompts_scenarios/scene_description/stacked_boxes/*
# prompts_scenarios/vlm_planning/stacked_boxes/*
# prompts_scenarios/simultaneous_actions/stacked_boxes/*
# prompts_scenarios/validator/stacked_boxes/*