<launch>
        
    <arg name="gazebo" default="true"/>

    <!-- gazebo configuration parameters -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="verbose" default="false"/>
    <arg name="extra_gazebo_args" default=""/>
    
    <!-- kyon configuration parameters -->
    <arg name="arms" default="false"/>
    <arg name="legs" default="true"/>
    <arg name="payload" default="false"/>
    <arg name="dagana" default="false"/>
    <arg name="wheels" default="false"/>
    <arg name="velodyne" default="false"/>
    <arg name="camera_front_up" default="false"/>
    <arg name="camera_front_down" default="false"/>


    <!-- Internal arguments, rewrite human-readable gazebo arguments to it's internal arguments -->
    <let name="arg_paused" value="-r" unless="$(var paused)"/>
    <let name="arg_paused" value="" if="$(var paused)"/>

    <let name="arg_verbose" value="" unless="$(var verbose)" />
    <let name="arg_verbose" value="--verbose" if="$(var verbose)" />

    <let name="arg_gui" value="-s" unless="$(var gui)"/> 
    <let name="arg_gui" value="" if="$(var gui)"/> 

    <let name="script_type" value="gzserver" unless="$(var debug)"/>
    <let name="script_type" value="debug" if="$(var debug)"/>

    <!-- run gazebo -->
    <group if="$(var gazebo)">
  
       <!-- from where the simulation enviornment will be loaded:
              WARNING: exactly one parameter has to be true, otherwise simulation behaviour is undefined -->
       <arg name="world_name" default="$(find-pkg-share kyon_gazebo)/worlds/kyon_ball.world"/>
       
       <!-- Load the URDF/SRDF into the ROS Parameter Server -->
       <let name="robot_description_gz"
            value="$(command 'xacro $(find-pkg-share kyon_gazebo)/urdf/kyon_gazebo.urdf.xacro floating_joint:=false upper_body:=$(var arms) legs:=$(var legs) payload:=$(var payload) dagana:=$(var dagana) wheels:=$(var wheels) velodyne:=$(var velodyne) camera_front_up:=$(var camera_front_up) camera_front_down:=$(var camera_front_down)')"/>

        <!-- ### -->
        <set_env name="GZ_SIM_RESOURCE_PATH"    
         value="$(env GZ_SIM_RESOURCE_PATH):$(find-pkg-share kyon_gazebo)/models"/>

       <!-- Start gazebo-->
       <include file="$(find-pkg-share ros_gz_sim)/launch/gz_sim.launch.py">
              <arg name="gz_args" value="$(var world_name) $(var arg_verbose) $(var arg_gui) $(var arg_paused)"/>
       </include>

       <!-- Spawn URDF model-->
       <!-- <node pkg="ros_gz_sim" exec="create" name="urdf_spawner">
              <param name="string" type="str" value="$(var robot_description_gz)"/>
              <param name="z" value="1.0"/>
       </node> -->

       <node pkg="ros_gz_sim" exec="create" name="urdf_spawner">
            <param name="string" type="str" value="$(var robot_description_gz)"/>
            <!-- <param name="x" value="5.55"/>
            <param name="y" value="-0.04"/>
            <param name="z" value="0.75"/>
            <param name="Y" value="-3.14"/> -->
            <param name="x" value="2.90"/>
            <param name="y" value="-0.04"/>
            <param name="z" value="0.75"/>
            <param name="Y" value="0.0"/>
        </node>

       <!-- ROS-gazebo topics bridge-->
       <node pkg="ros_gz_bridge" exec="parameter_bridge" name="ros_gz_bridge"
            args="
             /hesai_lidar/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
             /hesai_lidar@sensor_msgs/msg/LaserScan[gz.msgs.LaserScan
             /clock@rosgraph_msgs/msg/Clock[gz.msgs.Clock 
             /zed_front_up/image@sensor_msgs/msg/Image[gz.msgs.Image
             /zed_front_up/depth_image@sensor_msgs/msg/Image[gz.msgs.Image
             /zed_front_up/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo
             /zed_front_up/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
             /zed_front_down/image@sensor_msgs/msg/Image[gz.msgs.Image
             /zed_front_down/depth_image@sensor_msgs/msg/Image[gz.msgs.Image
             /zed_front_down/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo
             /zed_front_down/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
             "/> 
            
    </group>

       <!-- Load the URDF/SRDF into the ROS Parameter Server -->
    <let name="urdf_command"
        value="xacro $(find-pkg-share kyon_urdf)/urdf/kyon_robot.urdf.xacro floating_joint:=true upper_body:=$(var arms) legs:=$(var legs) payload:=$(var payload) dagana:=$(var dagana) wheels:=$(var wheels) velodyne:=$(var velodyne)"/>

    <let name="urdf_string"
        value="$(command '$(var urdf_command)' ignore)"/>

    <let name="srdf_command"
        value="xacro $(find-pkg-share kyon_srdf)/srdf/kyon.srdf.xacro floating_joint:=true upper_body:=$(var arms) legs:=$(var legs) payload:=$(var payload) dagana:=$(var dagana) wheels:=$(var wheels) velodyne:=$(var velodyne)"/>

    <let name="srdf_string"
        value="$(command '$(var srdf_command)' ignore)"/>

    <node pkg="xbot2_ros" exec="robot_description_publisher" name="robot_description_publisher" output="screen">
        <param name="robot_description" value="$(var urdf_string)" type="str"/>
        <param name="robot_description_semantic" value="$(var srdf_string)" type="str"/>
    </node>

</launch>
